.category{
    min-height: calc(100vh - 130px);
    padding: 20px;
    flex: 1;
    background-color: var(--main-color);
    border: none !important;
}
.category-title{
    margin-bottom: 15px;
    color: var(--bd-purple);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--gray-color);
    font-size: 30;
    width: max-content;
}
.category-title span{
    color: var( --blue-color);
}
.category-not-found{
    font-size: 30px;
    margin: 20px 0;
    color: var(--dark-color);
}
.category-not-found span{
    color: var(--red-color);
    text-transform: capitalize;
}
.category-not-found-link{
    font-size: 21px;
    text-decoration: underline;
    font-weight: 500;
}